[Unit]
Description=Restart connman on resume
After=suspend.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/systemctl restart connman

[Install]
WantedBy=suspend.target
